header, nav, main, footer{
    background-color:slategray;
}
nav{
    grid-template-columns: 1fr 1fr 1fr;
}
body{

}
main{
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
