header, nav{
    background-color:rgb(238, 43, 8);
}
body{
    background-color:rgb(4, 35, 66);
}
header{
    grid-area:header;
    display: grid;
    grid-template-rows:auto auto;
}
main{
    grid-area: main;
    text-align: center;
    border: 1px solid;
}
nav > ul{
    display: grid;
    height:100%;
    gap:25px;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0;
    padding:0;
}
footer{
    grid-area: footer;
}
a{
    text-decoration: none;
}
p, td, th, li, h2,caption{
    color: white;
}
li{
    text-align: center;
    list-style: none;
    display: grid;
    justify-content: stretch;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.wrapper1{
    height: 97vh;
    display: grid;
    grid-template-rows:150px auto 55px ;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        background-color:rgb(4, 35, 66);
}
.wrapper2{
    height: 100%;
    display: grid;
    grid-template-rows:150px auto 55px ;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        background-color:rgb(4, 35, 66);
}
.wrapper3{
    height: 100%;
    display: grid;
    grid-template-rows:150px auto 55px ;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        background-color:rgb(4, 35, 66);
}
.Intressen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.Volleyboll{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.Bilar{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.Anime{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#Teknikum{
    border-radius: 0px;
}
.text{
    font-size: 16px;
    font-weight: 100;
}
tr:nth-child(even) { 
    background-color: rgb(59, 59, 190); 
}
table, th, tr, td{
    border: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: white;
    padding: 5px;
    align-content: center;
}
